<p style="color: green"><%= notice %></p>

<%= render @report %>

<div>
  <%= link_to "Edit this report", edit_user_report_path(@report.user, @report) %> |
  <%= link_to "Back to reports", user_reports_path %>

  <%= button_to "Destroy this report", user_report_path(@report.user, @report), method: :delete %>
</div>
